HookDll/Debug/
HookDll/ReadMe.txt
HookDll/Release/
HookDll/hookdll.vcproj
HookDll/hookdll.vcxproj
HookDll/hookdll.vcxproj.filters
HookDll/hookdll.vcxproj.user
WinService/Debug/
WinService/WinService.dsp
WinService/WinService.dsw
WinService/WinService.opensdf
WinService/WinService.sdf
WinService/WinService.sln
WinService/WinService.suo
WinService/WinService.vcxproj
WinService/WinService.vcxproj.filters
WinService/WinService.vcxproj.user
WinService/ipch/
